-doc_link = document_url(document)
%tr.document-row{ data: { document_info_modal: document.slug }}
  %td.documents-name-column
    =document.slug
  %td.documents-link-column
    =document.description.presence ? document.description.truncate(100) : ""
  %td.documents-usage-column
    -if @new_document
      0
    - elsif document.active_document_usage_count > 0
      = document.active_document_usage_count
    - else
      = document.active_document_usage_count
  %td.documents-downloads-column
    -if @new_document
      0
    - elsif document.downloads_count
      = document.downloads_count
    - else
      0
  %td.documents-delete-column
    =link_to('Delete', document_path(document), method: :delete, remote: true, class: 'fa fa-trash-o document-delete', data: {confirm: 'Are you sure? This cannot be undone'} )
