$('#document-form').html("<%= escape_javascript render 'form' %>");
<% if @document.errors.empty? %>
  $('.document-row:last').after("<%= escape_javascript render 'document', :document => @document %>");
  $form = $("form#new_document");
  $(".js-file-uploaded").hide();
<% else %>
  <% if @duplicate_document.present?  %>
    $("form#new_document").prepend("<div class='alert alert-info' role='alert'>\
      Ooops, this file has already been uploaded.\
      <a data-document-info-modal='<%= @duplicate_document.slug %>' href='#' class='duplicate-show'>Show</a></div>");
  <% end %>
<% end %>
