:javascript
  $(document).ready(function() {
    $('#alpha-filter').change(function() {
      var value = $(this).val();
      if (value == 'All')
      {
        $('.document-row').show();
      }
      else
      {
        $('.document-row').hide();
        $('.document-row[data-filter="'+ value +'"]').show();
      }
    });
  });

.container.cms-main#cms-style-container
  =render('pig/content_packages/sitemap_header', header_title: 'Documents')
  .row
    .col-xs-12.documents
      #document-form.documents-form
        =render('form')
      = render('search')
      .sitemap-filter.text-right
        Filter documents:
        =select_tag 'alpha-filter', options_for_select(['All'] + ('0'..'9').to_a + ('A'..'Z').to_a), class: 'noselectpicker'
      %table.cms-table
        %thead
          %tr
            %th.documents-name-column Name
            %th.documents-link-column Description
            %th.documents-usage-column Used
            %th.documents-downloads-column Downloaded
        %tbody
          -@documents.each do |document|
            =render('document', document: document)

#usageLinks.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %i.fa.fa-times
        %h4.modal-title Document Usage
      .modal-body

#usageStats.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Document Downloads
      .modal-body
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
