.modal-header
  %a.close{"aria-label" => "Close", "data-dismiss" => "modal"}
    %i.fa.fa-times
  %h4.modal-title Replace document
.modal-body.ui-front.document-modal
  %label.col-primary="Upload a new file to replace #{@document.file_filename}"
  =form_for @document, url: replace_document_path(@document), html: { id: 'replace_document' }, remote: true  do |form|
    =form.attachment_field :file, direct: true, presigned: true
    .progress
      .progress-bar{role: "progressbar", style: "width: 0%;"}
    .modal-footer
      =form.submit "Replace", id: 'document_submit_action', class: 'btn btn-primary', disabled: true
