<!DOCTYPE html>
<html>
<head>
  <title>Trough</title>
  <%= stylesheet_link_tag    "trough/application", media: "all" %>
  <%= javascript_include_tag "trough/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
