body.controller_documents {
  background: #f1f1f1;
  color: #555;
}

#document-form {
  margin-bottom: 15px;
  overflow: auto;
  position: relative;

  .form-group {
    overflow: auto;
    padding-top: 0;
  }

  // @include media-query(sm) {
  //   .inputs {
  //     width: 70%;
  //     float: left;
  //   }
  //
  //   label {
  //     float: left;
  //     width: 30%;
  //     max-width: 120px;
  //   }
  //
  //   .form-wrapper {
  //     width: 70%;
  //     float: left;
  //   }
  //
  //   .form-actions {
  //     width: 30%;
  //     position: absolute;
  //     bottom: 36px;
  //     right: 30px;
  //   }
  // }
}

.documents-form {
  background:white;
  border-radius: 3px;
  padding: 30px;
  border: 1px solid #E2E2E2;
}

#document_attachment {
  font-size: 14px;
}

#new_document {
  .error {
    label {
      color: red;
    }

    .form-control {
      border-color: red;
    }

    .help-block {
      opacity: 1;
      height: auto;
      padding: 8px;
    }
  }
}


.documents-list-holder {
  font-size: 14px;

  table {
    width: 100%;
  }

  th {
    border-bottom: 2px solid #DDDDDD;
  }
}

.documents-name-column {
  width: 25%;
  text-align: left;
  padding: 10px 10px 10px 0;
  word-break: break-word;
}

.documents-link-column {
  width: 60%;
  text-align: left;
  padding: 10px;
  word-break: break-word;
}

.documents-usage-column, .documents-downloads-column {
  position: relative;
  text-align: center;
  width: 5%;
}

.documents-delete-column {
  position: relative;
  text-align: center;
  width: 5%;
}

.document-row {
  position: relative;
  padding: 8px 20px 8px 4px;
  margin: 0;
  cursor: pointer;

  &:hover, &:focus {
    background: #E2E2E2;
  }
}

.document-delete {
  text-indent: -999999px;
  position: absolute;
  right: 0;
  bottom: 6px;
  text-align: center;
  width: 100%;

  &:before {
    text-indent: 0;
    position: absolute;
    right: 0;
    width: 100%
  }
}

.trough-document-link {
  border: 1px solid #555;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  padding: 0.88888889em 0.88888889em 0.88888889em 4em;
  position: relative;
  line-height: 1.2;
  margin: 0.66666667em 0;
  width: auto;
  background-color: #fff;
  -webkit-transition: border-color 0.3s ease-in;
          transition: border-color 0.3s ease-in;
  .fa {
    font-size: 40px;
    position: absolute;
    left: 0.4em;
    color: #555;
    -webkit-transition: color 0.3s ease-in;
            transition: color 0.3s ease-in;
  }
  .document-link__file-type {
    font-size: 13px;
    display: block;
    text-align: left;
  }
}

.hide {
  display: none;
}

a.duplicate-show {
  text-decoration: underline;
}
.documents .sitemap-filter {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin: 25px 0 15px;
}
.progress {
  background: #fff;
  box-shadow: none;
}
