.trough-modal {
  z-index: 1054 !important;
  ul.ui-autocomplete {
    position: absolute !important;
  }
  .custom-combobox-toggle {
    right: 30px;
  }
  .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    cursor: pointer;
  }
  .modal-footer {
    overflow: hidden;
  }
  + .modal-backdrop {
    z-index: 1053 !important;
  }
}

.document-description {
  margin-bottom: 20px;
}
